:root {
    --header-height: 60px;
}

html, body, #root, .app-container {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    flex-direction: column; 
    height: 100% !important; 
}

.layout-body {
    display: flex;
    height: 100%;
    overflow: hidden; 
}